<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{/admin/layoutAdmin/LayoutAdmin.html}">
<head>
    <meta charset="UTF-8">
    <title th:fragment="title">View all profiles</title>
</head>
<body>
<div layout:fragment="layoutContent"  class="container-fluid">
  <div class="row column_title">
    <div class="col-md-12">
      <div class="page_title">
        <h2>Views Profile</h2>
      </div>
    </div>
  </div>
  <!-- row -->
  <div class="row column1">
    <div class="col-md-12">
      <div class="white_shd full margin_bottom_30">
        <div class="col-12 ">
          <div style="margin-top: 20px">
            <form th:action="@{/admin/profile}">
              <div class="form-inline float-left">
                <label for="name">Search :</label> <input type="text"
                                                          class="form-control ml-2" name="fullName" id="name"
                                                          aria-describedby="helpId" placeholder="Name search..">
                <button class="btn btn-outline-primary">Search</button>
              </div>
            </form>
<!--            <div class="float-right">-->
<!--              <a class="btn btn-outline-primary"-->
<!--                 th:href="@{/admin/addNews}">Add new News</a>-->
<!--            </div>-->
          </div>
        </div>
        <div class="full price_table padding_infor_info">
          <div class="row" >
            <!-- column contact -->
            <div th:each="item, iStat : ${accountPage.content}" class="col-lg-4 col-md-6 col-sm-6 col-xs-12 profile_details margin_bottom_30">
              <div class="contact_blog">
                <h4 class="brief">Customer</h4>
                <div class="contact_inner">
                  <div class="left">
                    <h3 th:text="${item.userName}"></h3>
                    <p><strong>fullName: </strong><span th:text="${item.fullName}"></span></p>
                    <ul class="list-unstyled">
                      <li><i class="fa fa-envelope-o"></i>: <span th:text="${item.email}"></span></li>
                      <li><i class="fa fa-phone"></i> : <span th:text="${item.phoneNumber}"></span></li>
                    </ul>
                  </div>
                  <div class="right">
                    <div class="profile_contacts">
                      <img th:if="${item.getAvatar()} != null" class="img-responsive" th:src="@{/getImg/{img}(img = ${item.getAvatar()})}" th:alt="${item.userName}">
                      <img th:if="${item.getAvatar()} == null"  class="img-responsive" src="/adminStyle/images/avatar.png" alt="#">

                    </div>
                  </div>

                  <div class="bottom_list">

                    <div class="right_button">
                      <button type="button" class="btn btn-success btn-xs"> <i class="fa fa-user">
                      </i> <i class="fa fa-comments-o"></i>
                      </button>
                      <a th:href="@{/admin/profile/{user}(user = ${item.userName})} " class="btn btn-primary btn-xs">
                        <i class="fa fa-user"> </i> View Profile
                      </a>
                    </div>
                  </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
  <div class="col-12" >
    <form action="">
      <div class="form-inline float-left">
        <label for="">Page Size: </label>
        <select name="size" id="size" class="form-control" onchange="this.form.submit()">
          <option th:selected="${accountPage.size==5}" value="5">5</option>
          <option th:selected="${accountPage.size==10}" value="10">10</option>
          <option th:selected="${accountPage.size==15}" value="15">15</option>
          <option th:selected="${accountPage.size==20}" value="20">20</option>
          <option th:selected="${accountPage.size==25}" value="25">25</option>
        </select>
      </div>

    </form>
    <nav aria-label="Page navigation" th:if="${accountPage.totalPages > 0}">
      <ul class="pagination justify-content-center">
        <li th:class="${ 1== accountPage.number + 1} ? 'page-item active' : 'page-item'">
          <a th:href="@{/admin/profile(name=${name}, size=${accountPage.size}, page=${1})}" class="page-link">First
          </a>
        </li>
        <li class="page-item active" th:each="pageNumber : ${pageNumbers}" th:if="${accountPage.totalPages>1}" th:class="${pageNumber == accountPage.number + 1} ? 'page-item active' : 'page-item'">
          <a th:href="@{/admin/profile(name=${name}, size=${accountPage.size}, page=${pageNumber})}" class="page-link" th:text="${pageNumber}">
          </a>
        </li>


        <li th:class="${accountPage.totalPages == accountPage.number + 1} ? 'page-item active' : 'page-item'">
          <a th:href="@{/admin/profile(name=${name}, size=${accountPage.size}, page=${accountPage.totalPages})}" class="page-link">Last
          </a>
        </li>
      </ul>
    </nav>
  </div>
    </div>


</div>

</body>
</html>